@model TablesViewModel 

@{
    ViewData["Title"] = "All Invoices";
    List<List<string>> AccountsLists = new List<List<string>>();
    List<string> CurrentAccountList = new List<string>();
    int n = 0;
}

<div id="allInvoiceTableWrapper">
    <table id="allInvoiceTable" class="table table-sm table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="center">DocVue Id</th>
                <th class="center">File Name</th>
                <th class="center">Vendor Number</th>
                <th>Vendor Name</th>
                <th class="center">Accounts</th>
                <th class="center">Voucher Number</th>
                <th class="center">Invoice Number</th>
                <th class="center">Invoice Date</th>
                <th class="center">Amount</th>
                <th class="center">Status</th>
                <th class="center">Sampled</th>
                @for (int i = 0; i < Model.MaxNumAccounts; i++)
                {
                    <th>
                        @($"Account #{i + 1}")
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Invoices != null)
            {
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td class="center">
                            @invoice.DocVueId
                        </td>
                        <td class="center">
                            @invoice.FileName
                        </td>
                        <td class="center">
                            @invoice.Vendor.VendorNumber
                        </td>
                        <td>
                            @invoice.Vendor.VendorName
                        </td>

                        @if (invoice.InvoiceAccounts.Count == 0)
                        {
                            <td></td>
                        }
                        else if (invoice.InvoiceAccounts.Count == 1)
                        {
                            <td class="center">
                                @invoice.InvoiceAccounts.Select(i => i.Account.AccountCode).First()
                            </td>
                        }
                        else
                        {
                            <td class="center">
                                <a href=@($"#multiAcctModal{n}") data-target=@($"#multiAcctModal{n}") data-toggle="modal">Multiple</a>
                            </td>

                            @foreach (var acct in invoice.InvoiceAccounts)
                            {
                                CurrentAccountList.Add(acct.Account.AccountCode);
                            }

                            AccountsLists.Add(CurrentAccountList);
                            CurrentAccountList = new List<string>();
                            n++;
                        }

                        <td class="center">
                            @invoice.VoucherNumber
                        </td>
                        <td class="center">
                            @invoice.InvoiceNumber
                        </td>
                        <td class="center">
                            @string.Format("{0:MM/dd/yyyy}", invoice.InvoiceDate)
                        </td>
                        <td class="invoice-amount">
                            @string.Format("{0:C}", invoice.InvoiceAmount)
                        </td>
                        <td class="center">
                            @invoice.Status
                        </td>
                        <td class="center">
                            @if (invoice.Sampled)
                            {
                                <i class="far fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-circle"></i>
                            }
                        </td>
                        @foreach (var acct in invoice.InvoiceAccounts.Select(i => i.Account))
                        {
                            <td>
                                @acct.AccountCode
                            </td>
                        }
                        @for (int i = 0; i < (Model.MaxNumAccounts - invoice.InvoiceAccounts.Count); i++)
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@for (var i = 0; i < AccountsLists.Count; i++)
{
    <div id=@($"multiAcctModal{i}") class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="acct-header">Accounts</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @foreach (var acct in AccountsLists[i])
                    {
                        <p class="text-center">@acct</p>
                    }
                </div>
            </div>
        </div>
    </div>
}