@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="invoiceTableWrapper">
    <table id="invoiceTable" class="table table-sm table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th class="center">DocVue Id</th>
                <th class="center">File Name</th>
                <th class="center">Vendor Number</th>
                <th>Vendor Name</th>
                <th class="center">Accounts</th>
                <th class="center">Voucher Number</th>
                <th class="center">Invoice Number</th>
                <th>Invoice Date</th>
                <th class="center">Invoice Amount</th>
                <th class="center">Sampled</th>
                @for (int i = 0; i < Model.MaxNumAccounts; i++)
                {
                    <th>
                        @($"Account #{i + 1}")
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Invoices != null)
            {
                @foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td class="center">
                            @invoice.DocVueId
                        </td>
                        <td class="center">
                            @invoice.FileName
                        </td>
                        <td class="center">
                            @invoice.Vendor.VendorNumber
                        </td>
                        <td>
                            @invoice.Vendor.VendorName
                        </td>

                        @if (invoice.InvoiceAccounts.Count == 0)
                        {
                            <td></td>
                        }
                        else if (invoice.InvoiceAccounts.Count == 1)
                        {
                            <td class="center">
                                @invoice.InvoiceAccounts.Select(i => i.Account.AccountCode).First()
                            </td>
                        }
                        else
                        {
                            <td class="center">
                                Multiple
                            </td>
                        }

                        <td class="center">
                            @invoice.VoucherNumber
                        </td>
                        <td class="center">
                            @invoice.InvoiceNumber
                        </td>
                        <td>
                            @invoice.InvoiceDate
                        </td>
                        <td class="invoice-amount">
                            @invoice.InvoiceAmount
                        </td>
                        <td class="center">
                            @if (invoice.Sampled)
                            {
                                <i class="far fa-check-circle"></i>
                            }
                            else
                            {
                                <i class="far fa-circle"></i>
                            }
                        </td>
                        @foreach (var acct in invoice.InvoiceAccounts.Select(i => i.Account))
                        {
                            <td>
                                @acct.AccountCode
                            </td>
                        }
                        @for (int i = 0; i < (Model.MaxNumAccounts - invoice.InvoiceAccounts.Count); i++)
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
